<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLM-RAG Chatbot</title>
    <link rel="stylesheet" href="{{url_for('static', filename ='app.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='favicon_64.ico')}}">
    <script src="https://cdn.bootcdn.net/ajax/libs/alpinejs/3.15.0/cdn.min.js" defer></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/marked/13.0.2/marked.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <div class="flex h-screen" x-data="app()">
        <!-- Left Selection Area -->
        <div class="w-1/4 bg-white p-6 flex flex-col justify-between shadow-md">
            <div>
                <h1 class="text-2xl font-semibold text-blue-600">LLM-RAG Chatbot</h1>
                <!-- Model Selection -->
                <div class="mt-4">
                    <label for="model-select" class="block mb-2 text-gray-800 font-medium">Select AI Model：</label>
                    <select id="model-select" x-model="params.model_name"
                        class="w-full px-3 py-2 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <template x-for="model_name in llmModels" :key="model_name">
                            <option :value="model_name" :selected="params.model_name === model_name"
                                x-text="model_name"></option>
                        </template>
                    </select>
                </div>
                <!-- Knowledge Base Selection -->
                <div class="mt-6">
                    <div class="text-gray-800 mb-2 font-medium">Select Knowledge Base：</div>
                    <div class="flex flex-col space-y-2 overflow-y-auto h-28 p-3 border border-gray-300 rounded">
                        <div class="grid grid-cols-2 gap-2">
                            <template x-for="dataset in datasets" :key="dataset.id">
                                <label class="flex items-center space-x-2">
                                    <input type="checkbox" :value="dataset.id" x-model="params.dataset_ids"
                                        class="form-checkbox h-4 w-4 text-blue-600">
                                    <span class="text-gray-800" x-text="dataset.name"></span>
                                </label>
                            </template>
                            <!-- Add more knowledge base options -->
                        </div>
                    </div>
                </div>
                <!-- Conversation History Management -->
                <div class="mt-6">
                    <div class="flex justify-between items-center">
                        <div class="text-gray-800 font-medium">Conversation History:</div>
                        <button @click="createConversation()"
                            class="px-3 py-1 text-sm bg-blue-600 text-white rounded hover:bg-blue-700">New
                            Chat</button>
                    </div>
                    <div class="flex flex-col space-y-3 overflow-y-auto h-80" id="conversation-list">
                        <template x-for="conversation in conversations" :key="conversation.uid">
                            <div @click="activeConversation(conversation.uid)"
                                class="flex items-center justify-between border px-3 py-1.5 rounded cursor-pointer"
                                :class="currentConversation.uid == conversation.uid ? 'border-blue-400 bg-gray-100 text-blue-500' : ''">
                                <template x-if="conversationEditStatus && currentConversation.uid == conversation.uid">
                                    <input type="text" x-model="currentConversation.name" class="px-1 py-0.5 text-sm"
                                        @click="event.stopPropagation()">
                                </template>
                                <template x-if="!conversationEditStatus || currentConversation.uid != conversation.uid">
                                    <span x-text="conversation.name"></span>
                                </template>
                                <template x-if="currentConversation.uid === conversation.uid">
                                    <div class="space-x-2 flex items-center">
                                        <template x-if="conversationEditStatus">
                                            <button @click="saveConversation(); event.stopPropagation()"
                                                class="text-blue-500 hover:text-blue-700">
                                                <i class="fa fa-save"></i>
                                            </button>
                                        </template>
                                        <template x-if="!conversationEditStatus">
                                            <button x-on:click="editConversation(); event.stopPropagation()"
                                                class="text-blue-500 hover:text-blue-700">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </template>
                                        <button @click="deleteConversation(); event.stopPropagation()"
                                            class="text-blue-500 hover:text-blue-700">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </div>
                                </template>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
            <!-- Copyright Information -->
            <div class="text-center mt-4 text-gray-700">Copyright @ 2025. <a href="https://github.com/SodaShikenn"
                    class="text-blue-500 underline">SodaShikenn</a></div>
        </div>

        <!-- Right Chat Area -->
        <div class="flex-1 flex flex-col p-6 space-y-4">
            <!-- Chat Box -->
            <div class="flex-1 flex flex-col bg-white rounded-lg shadow-md overflow-hidden">
                <div class="flex-1 p-6 space-y-4 overflow-y-auto" id="chat-window">
                    <!-- Chat Messages -->
                    <div>
                        <div class="text-sm text-gray-500">System Message: Welcome to the LLM-RAG chat system. You can
                            chat with me based on the knowledge bases on the left!</div>
                    </div>
                    <!-- Dynamic chat messages will be inserted here -->
                    <template x-for="(message, index) in messages" :key="index">
                        <div>
                            <template x-if="message.role === 'user'">
                                <div class="flex bg-blue-100 px-4 py-2 rounded-lg">
                                    <span class="w-16 text-right font-medium flex-shrink-0">User：</span>
                                    <div class="flex-1" x-text="message.content"></div>
                                </div>
                            </template>
                            <template x-if="message.role === 'assistant'">
                                <div class="flex bg-gray-100 px-4 py-2 rounded-lg">
                                    <span class="w-16 text-right font-medium flex-shrink-0">LLM：</span>
                                    <div class="flex-1" x-html="convertMarkdown(message.content)"></div>
                                </div>
                            </template>
                        </div>
                    </template>

                </div>
            </div>
            <!-- Input Box -->
            <div class="p-4 border-t border-gray-300 bg-white">
                <div class="flex space-x-4">
                    <input @keydown.enter="sendMessage" type="text" id="chat-input" x-model="chatInput"
                        class="flex-1 px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
                        placeholder="Enter message...">
                    <button @click="sendMessage"
                        class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">Send</button>
                    <button @click="abortCurrentRequest()"
                        class="px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        async function sendRequest(url, method, data, to_json = true) {
            const response = await fetch(url, {
                method: method,
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (!response.ok) {
                throw new Error('Network response was not ok ' + response.statusText);
            }
            if (to_json) {
                return await response.json();
            } else {
                return await response;
            }
        }

        function generateUniqueId() {
            return Date.now().toString(36) + Math.random().toString(36).substr(2, 9);
        }

        function app() {
            llmModels = JSON.parse('{{ llm_models | tojson }}')
            return {
                llmModels: llmModels,
                datasets: JSON.parse('{{ datasets | tojson }}'),
                conversations: JSON.parse('{{ conversations | tojson }}'),
                currentConversation: {
                    uid: null,
                    name: null
                },
                params: {
                    model_name: llmModels[0],
                    dataset_ids: []
                },
                chatInput: '',
                messages: [],
                abortRequest: false,
                // 定义编辑状态
                conversationEditStatus: false,

                editConversation: function () {
                    this.conversationEditStatus = true
                },

                abortCurrentRequest: function () {
                    this.abortRequest = true
                },

                sendMessage: async function () {
                    // Block if content is empty
                    if (!this.chatInput.trim()) {
                        return;
                    }
                    // Display user question and clear input box
                    this.messages.push({ role: 'user', content: this.chatInput });
                    this.chatInput = '';

                    try {
                        const obj = {
                            messages: this.messages,
                            params: this.params
                        }
                        const response = await sendRequest('/chat/completions', 'POST', obj, false)

                        const reader = response.body.getReader();
                        const decoder = new TextDecoder();

                        let chunk;
                        let text = '';

                        // Calculate dialogue rounds, the last value is the LLM's response
                        let modelMessageIndex = this.messages.length;
                        this.messages.push({ role: 'assistant', content: '' }); // Add placeholder

                        while (true) {
                            chunk = await reader.read();
                            // Data transfer completed
                            if (chunk.done || this.abortRequest) {
                                break;
                            }
                            // Decode backend streaming data
                            buffer = decoder.decode(chunk.value, { stream: true });
                            let lines = buffer.split('\n')
                            for (let i = 0; i < lines.length - 1; i++) {
                                const line = lines[i].trim();
                                if (line.startsWith('data:')) {
                                    // Parse and append data
                                    const jsonString = line.substring(5).trim();
                                    parseData = JSON.parse(jsonString)
                                    text += parseData.data.content
                                    // Update interface content
                                    this.messages[modelMessageIndex].content = text;
                                }
                            }
                        }
                        // Note: Reset after loop ends, otherwise unable to initiate next request
                        this.abortRequest = false;
                    } catch (error) {
                        console.error('Fetch error: ', error);
                    }
                },
                createConversation: async function () {
                    try {
                        const newConversationName = `New Chat ${this.conversations.length + 1}`;
                        const obj = {
                            uid: generateUniqueId(),
                            name: newConversationName
                        };
                        const response = await sendRequest('/chat/conversation_create', 'POST', obj);
                        if (response && response.status == 200) {
                            this.conversations.unshift(obj)
                            this.activeConversation();
                        } else {
                            throw new Error(response.message);
                        }
                    } catch (error) {
                        alert('Error creating conversation:' + error);
                    }
                },
                activeConversation: async function (uid = null) {
                    if (!uid) {
                        // When there is no historical dialogue, create an empty one.
                        if (this.conversations.length == 0) {
                            await this.createConversation()
                        }
                        this.currentConversation = this.conversations[0]
                    } else {
                        const conversation = this.conversations.find(conv => conv.uid === uid);
                        this.currentConversation = conversation
                    }
                    this.conversationEditStatus = false
                },
                deleteConversation: async function () {
                    // First confirm if user really wants to delete the conversation
                    const confirmation = window.confirm("Are you sure you want to delete this conversation and its chat history?");
                    if (!confirmation) {
                        return; // Return directly if user cancels
                    }
                    try {
                        const obj = {
                            uid: this.currentConversation.uid,
                        }
                        const response = await sendRequest('/chat/conversation_delete', 'POST', obj);
                        if (response && response.status == 200) {
                            this.conversations = this.conversations.filter(convo => convo.uid !== this.currentConversation.uid);
                            this.activeConversation()
                        } else {
                            throw new Error(response.message);
                        }
                    } catch (error) {
                        alert('Error creating conversation:' + error);
                    }
                },

                saveConversation: async function () {
                    try {
                        const obj = {
                            uid: this.currentConversation.uid,
                            name: this.currentConversation.name,
                        }
                        const response = await sendRequest('/chat/conversation_edit', 'POST', obj);
                        if (response && response.status == 200) {
                            this.conversationEditStatus = false
                        } else {
                            throw new Error(response.message);
                        }
                    } catch (error) {
                        alert('Error creating conversation:' + error);
                    }
                },
                convertMarkdown: function (content) {
                    return marked.parse(content);
                },
                updateChatWindow: function () {
                    const chatWindow = document.getElementById('chat-window');
                    chatWindow.scrollTop = chatWindow.scrollHeight;
                },
                init: function () {
                    this.$watch('messages', (value) => {
                        this.updateChatWindow();
                    });
                    this.$nextTick(() => {
                        this.updateChatWindow();
                    });
                    this.activeConversation();
                }
            }
        }
    </script>

</body>


</html>