<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block header %}{% endblock %}
    <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='favicon_64.ico')}}">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body class="h-screen">
    <div class="flex h-full bg-gray-100">
        <div class="w-[75px] px-2 py-8 flex flex-col items-center text-gray-600">
            <!-- User Icon -->
            <a href="" class="mb-6">
                <img src="{{url_for('static', filename='avatar.png')}}" alt="User Avatar"
                    class="rounded-full w-12 h-12">
            </a>
            <!-- Knowledge Base（selected state） -->
            <a href="" class="mb-6 flex flex-col items-center w-full py-2 rounded-lg shadow text-blue-500 bg-white">
                <i class="fa fa-book mb-1"></i>
                <span class="text-sm">KBs</span>
            </a>
            <!-- Setting -->
            <a href="" class="flex flex-col items-center w-full py-2">
                <i class="fa fa-cog mb-1"></i>
                <span class="text-sm">Setting</span>
            </a>
            <!-- Logout -->
            <a href="" class="flex flex-col items-center w-full mt-auto">
                <i class="fa fa-sign-out mb-1"></i>
                <span class="text-sm">Exit</span>
            </a>
        </div>

        {% block content %}{% endblock %}



    </div>

    {% block footer %}{% endblock %}

</body>

</html>